*{
  box-sizing: border-box;
  font-size: 24px;
  z-index: 100;
}

body{
  width:100%;
  margin: 10px 0 0 0;
}

fieldset {
  width: 30%;
  height: 350px;
  float: left;
  margin: 0 auto;
  border: solid 2px #5CA4D7 ;
  margin: 0 1.5%;
  padding: 0;
  position: relative;
}

fieldset img{
  height: 300px;
  width: 100%;

}

button {
  border: none;
  color: #5CA4D7;
  box-shadow: none;

  &:hover {
    background: none;
    background-color: #5CA4D7;
    color: #fff;
  }

  &:focus {
    outline: none;
  }

}

.shirtFeatures{

  width: 100%;
  position: absolute;
  bottom: 0px;

  button{
    width: 20%;
    height: 35px;
    margin: 0 auto;
    float: left;
    border-top: solid 2px #5CA4D7;
    border-right: solid 2px #5CA4D7;

    position: relative;
    background: none;

    &:last-child {
      border-right: none;
    }

    &.reset {
      border-left: none;
    }

    &:hover {
      background: none;
      background-color: #5CA4D7;
      color: #fff;
    }


  }

}
.shirtImg{
  position: relative;
}

.flip {
  position: absolute;
  right: -2px;
  top: -2px;
  height: 25px;
  width: 25px;
  background: none;
  border-right: 2px #5CA4D7 solid;
  font-size: 16px;

}

.reset {
  border-left: none;
}

// HOVERING FEATURES

.color input{
  border-radius: 6px;
}

.color div {
  border-radius: 6px;
}

.shirtColors{
  transition: .8s all;

  input{
    display:none;
    top: 0;
    left: 0;
    text-align: center;

  }

}

.selectedColorPink{
  background: pink;
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

.selectedColorGreen{
  background: green;
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

.selectedColorBlue{
  background: blue;
  width: 25px;
  height: 25px;
  margin: 0 auto;
}

.color:hover .shirtColors{
  display: block;
  height: 70px;
  width: 80px;
  position: relative;
  top: -75px;
  left: -20px;
  border: solid 2px #5CA4D7;
  background: #fff;
  padding: 3px;

  &::before{
    content: "";
    position: absolute;
    bottom: -31px;
    left: 23px;
    z-index: 1;
    border: solid 15px transparent;
    border-top-color: #5CA4D7;
  }

  &::after{
    content: "";
    position: absolute;
    bottom: -28px;
    left: 23px;
    z-index: 1;
    border: solid 15px transparent;
    border-top-color: white;
  }

  input{
    display: block;
    border: none;
    box-shadow: none;
    margin: 3px;
    float: left;
    width: 40%;
    font-size: 16px;
  }

  .selectedColorBlue, .selectedColorPink, .selectedColorGreen,{
    display: none;
  }


}

.shirtSize{
    transition: 1s all;
    input {
      display: none;
    }
}

.size:hover .shirtSize {
  display: block;
  border: 2px solid #5CA4D7;
  width: 70px;
  height: 175px;
  position: relative;
  top:-180px;
  left: -9px;
  background-color: white;

  &::before{
    content: "";
    position: absolute;
    bottom: -31px;
    left: 13px;
    z-index: 1;
    border: solid 15px transparent;
    border-top-color: #5CA4D7;
  }

  &::after{
    content: "";
    position: absolute;
    bottom: -28px;
    left: 13px;
    z-index: 1;
    border: solid 15px transparent;
    border-top-color: white;
  }

  input{
    display: block;
    width: 100%;
    box-shadow: none;
    border: none;
    background-color: #fff;
    color: #5CA4D7;

  }

}

.pink{
  background-color: pink;
}

.green{
  background: green;
}

.yellow{
  background-color: yellow;
}

.red{
  background-color: red;
}


span{
  display: block;
  width: 30%;
  margin: 1.5%;
  float: left;
  font-size: 30px;
  text-align: center;
  color: #5CA4D7;
}
